<form class="form" {{action "submit" on="submit"}}>
    <label class="form--label">Title</label>
    {{input value=title}}
    <label class="form--label">author</label>
    {{input value=author}}
    <button class="btn" type="submit">Submit</button>
</form>