<!-- Action buttons -->
<p>
    <!-- Hide the book form -->
    <button {{action "formHide"}} class="link link_inlineBlock text--uppercase">No</button>
    <!-- Show the book form -->
    <button {{action "formShow"}} class="link link_primary link_inlineBlock text--uppercase">Yes</button>
</p>

<!-- Check if add a new book form has been displayed -->
{{#if displayForm}}
    {{add-book onAdd=(action 'addBook') error=responseMessage}}
{{/if}}
