<!-- navbar -->
<nav class="navbar">
    <ul class="navbar--list" role="navigation">
        <li class="navbar--item">
            <a href="#" tabindex="1" class="navbar--link">El Pooch</a>
        </li>
        <li class="navbar--item" tabindex="1" >
            <a href="#" class="navbar--link">The flight</a>
        </li>
        <li class="navbar--item" tabindex="1">
            <a href="#" class="navbar--link">Top 10 Australian beaches</a>
        </li>
    </ul>
</nav>