/*
==========================================================================
    Normalize
==========================================================================
*/

// Import and include normalize.css
@import "bower_components/normalize-scss/sass/normalize";
@include normalize();

/*!
                        *** DEFAULT STYLES ***
HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

@import "boilerplate";


/*
==========================================================================
   Theme custom styles

   NB: theme not yet split into module files for readablity
==========================================================================
*/

// Make compass sass mixens available
@import "bower_components/compass-sass-mixins/lib/compass";
@import "bower_components/compass-sass-mixins/lib/compass/css3";
@import "bower_components/compass-sass-mixins/lib/animate";

/* Google fonts  http://www.google.com/fonts#UsePlace:use/Collection:Roboto */
@import url(http://fonts.googleapis.com/css?family=Roboto);

/*
 *  Mixens
 */

// Conver px to em
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return ($pixels / $context) * 1em;
}

/*
 *  Variables
 */

$brandcolor: #eb1561;           // base brand colour
$color_inverse: #fff;           // base white colour
$color_txt_secondary: #757575;  // secondary text colour
$color_txt_primary: #222;       // primary text colour
$color_error: red;              // error colour
$roboto: 'Roboto', serif;       // Custom font variable.

$bp-small : 20em;       // (320px)
$bp-small-2 : 30em;     // (480px)
$bp-med : 37.5em;       // (600px)
$bp-med-2 : 48em;       // (768px)
$bp-large : 56.25em;    // (900px)
$bp-large-2 : 68.75em;  // (1100px)
$bp-xl : 81.25em;       // (1300px)


/*
 *  Theme
 */

body {
    background: #fff;
    margin: 0;
    padding:0;
    font-family: $roboto;
}



/*
 *  grid / columns
 */

/*
*  container
*/

.container {
    max-width: $bp-large-2;
    min-width: em(320);
    margin: 0 auto;
    background: #e3e3e3;
}


/* ===== == = === 48em ( px) === = == ===== */

@media only screen and (min-width: 48em) {
    .row{

       display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;

    }
    .column {
        max-width: 50%;
        -webkit-flex: 1 0 0;
       flex: 1 0 0;
       margin: 0.5em;
    }
}


/*
    text
*/

.text--secondary {
    color: $color_txt_secondary;
}

.text--primary {
    color: $color_txt_primary;
}

.text--normal {
    font-size:1em;
}

/*
 *  buttons
 */

.link, a {
    color: $color_txt_primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.link_primary {
    color: orange;
}

.link_block {
    display: block;
}

.link_inlineBlock {
    display: inline-block;
    padding: 1em;
}



/*
 *  Header
 */

.header {
    background-color: $brandcolor;
    padding: 1em;
}

.header--title {
    color:  $color_inverse;
    margin: 0 0 0 1em;
}

.header--title_inverse {

}

.header--toggleNav{
    cursor: pointer;
    left: 1em;
    position: absolute;
    top: 2em;
}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: $bp-med) {
    .header--title {
        margin-left: 0;
    }
    .header--toggleNav{
        display: none;
    }
}


/*
 *  Navigation
 */

.navbar{
    background-color: $color_inverse;
    margin: 0;
    position: relative;
}

.navbar--list{
    background-color: $color_inverse;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    display: none;
    .js_navActive & {
        display: block;
        z-index: 103;
    }
}

.navbar--item{
    border-bottom: em(1) solid #ccc;
    padding: 1em;
}

.navbar--link{

}

@media only screen and (max-width: 37.4em) {
    .navbar--link{
        display: block;
    }
}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: $bp-med) {
    .navbar--list{
        display: block; // override with cascade for larger browsers
        position: relative;
    }
    .navbar--item{
        border-bottom: none;
        display: inline-block;
    }
}

/*
 *  articles
 */

.article {
    background-color: $color_inverse;
    margin-bottom: 1em;
    @include box-shadow(#dddddd em(2) em(2) em(10));
    @include border-radius(em(4), em(4));
    position: relative;
}

.article--img {
    margin: 0;
    img {
        width: 100%;
        height: auto;
    }
}

.article--body {
    padding:1em;
    p {
        margin: 0;
        + p {
            margin: em(7) 0;
        }
    }
}

.article--title {
    margin:0 0 em(7);
}

.article--footer {
    border-top: em(1) solid #dcdcdc;
}

.article_welcome {
    .article--title {
        color: $brandcolor;
    }
}
// Modifiers
// artcle with image positioned to left.
.article_imgLeft {

    .article--body {
        padding-left: 11em;
    }

    .article--footer {
        position: absolute;
        bottom: 0;
        left:0;
        right: 0;
        margin-left: 10em;
        // Mobile only style
        @media only screen and (max-width: 37.4em) {
            .link {
                font-size: 0.9em;
            }
        }
    }

    .article--img {
        width: 10em;
        float: left;
        margin: 0;
        padding: 0;
        img {
            width: 100%;
            height: auto;
        }
    }
}

// Mobile only style
@media only screen and (max-width: 37.4em) {
    .article--title {
        font-size: 1.2em;
    }

    .article_imgLeft {
        .article--body {
            padding-left: 9em;
        }
        .article--img {
            width: 8em;
        }
        .article--footer {
            margin-left: 8em;
        }
    }

}

/*
 *  forms
 */

.form {
    padding: 0 1em 1em;
}

.form--label {
    display: inline-block;
}

.form--row {
    margin-bottom: em(14);
}

.icon_burger {
    height: auto;
    display: inline-block;
    span{
       background-color: #fff;
       display: block;
        width: em(24);
        height: em(3);
        border-radius: em(1);
        margin-bottom: em(4);
    }
}


.form--header {
  margin: 0 0 em(20) 0;
}


.form--title {
  margin: 0 0 em(7) 0;
}

.form--label,
.form--legend {
    width: 25%;
    float: left;
    padding: em(7);
}

.form--input {
    border-top: em(1) solid #ccc;
    border-left: em(1) solid #ccc;
    border-right: em(1) solid #eee;
    border-bottom: em(1) solid #eee;
    width: 50%;
    padding: em(7);
}

.form--control {
    margin-left: 25%;
    button,
    .btn {
        padding-left: 0;
    }
}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (max-width: $bp-med) {
    .form--label,
    .form--legend {
        width: 100%;
        float: none;
        margin: 0 0 em(7) 0;
        padding: 0;
    }
    .form--input {
        width: 100%;
    }
    .form--control {
        margin-left: 0;
    }
}

/* ===== == = === 56.25em (900px) === = == ===== */

@media only screen and (min-width : $bp-large) {
  .form--label,
  .form--legend {
    text-align: right;
  }
}

/* Messages */
.msg {
    // padding: 1em;
}

.msg_error {
    color: $color_error;
}


/*
    backdrop
*/

.backdrop {
  position: relative;
  > span {
    display: block;
    content: "";
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    @include transition(opacity 400ms, visibility 300ms);
  }
  &:after {
    content: "";
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: em(50);
    height: em(50);
    margin-left: em(-25);
    margin-top: em(-25);
    border: em(8) solid rgba(255,255,255,0.1);
    border-top-color: rgb(183, 183, 183);
    border-left-color: rgb(183, 183, 183);
    border-radius: 50%;
    @include transition(opacity 600ms, visibility 600ms);
    @include animation(loading 800ms linear 0s infinite);
    //animation-play-state: paused;
  }
  // display the nav adding body class js_navActive
  .js_navActive & {
    > span {
      visibility: visible;
      opacity: 0.7;
    }
    // enable preloader if loading
    .js_isLoading & {
        &:after {
          visibility: visible;
          opacity: 1;
        }
    }
  }
}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: $bp-med) {
    .backdrop_smallOnly {
        .js_navActive & {
            > span {
            visibility: hidden;
            opacity: 0;
            }
            // enable preloader if loading
            .js_isLoading & {
                &:after {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
}

@include keyframes(loading) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

/*
==========================================================================
   Helper styles
==========================================================================
*/

@import "helpers";
